#langchain

langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_openai


# BackEnd API

FAST API

# Data PreProcessing

Numpy
pandas
